venv/
.DS_Store/
picture.jpg
picture1.JPG
landmarks/
registration/
face_landmarker_v2_with_blendshapes.task
hf/
verification/
mediapipe_env/
facial_id/blaze_face_short_range.tflite
facial_id/face_landmarker.task